body {
  margin: 0;
  padding-top: 10%;
  background-color: rgb(249, 247, 244);
  font-family: "Lato", sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 3rem;
  /*   display: flex;
  justify-content: center;
  flex-direction: column; */
  text-align: center;
  font-style: italic;
}

h2:first-of-type {
  text-decoration: underline;
}


