body {
  margin: 0;
  background-color: rgb(249, 247, 244);
  font-family: "Lato", sans-serif;
  padding-left: 5%;
  padding-right: 5%;
}

html {
  padding: 0;
}

img {
  /* Respect aspect ratio */
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

body > *:not(:first-child) {
  padding-bottom: 15%;
}

.top-section {
  display: flex;
  /*   justify-content: center; */
  /*  position: fixed;
      width: 100%; */
  position: fixed;
  width: 100%;
  height: 3rem;
  z-index: 9999;
  background-color: rgb(249, 247, 244);
  top: 0; /* required to fix it on the top! */
  left: 0;
  /* box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 10px 0px; */
  /*   transform: translateX(-5%); */
}

.top-section > :first-child {
  flex-basis: 85%;
  padding-left: 5%;
}

.top-section > :not(:first-child) {
  flex-basis: 20%;
  padding-right: 5%;
  display: flex;
}

.top-section .social-wrap > * {
  padding-left: 5%;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-basis: 20%;
  margin-right: 10%;
}

.hero-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-content {
  font-size: 3rem;
}

.section2,
.section3 {
  display: flex;
}

.left {
  flex-basis: 50%;
  padding-right: 7%;
  padding-left: 5%;
}

.right {
  flex-basis: 50%;
  padding-right: 10%;
}

.section-text {
  color: rgb(59, 59, 59);
}

.section-text p {
  font-weight: 100;
  /* padding-top: 4%;
  padding-bottom: 4%; */
  color: rgb(97, 97, 97);
}

.section-text h3 {
  font-weight: 500;
}

.section-paragraphs-container {
  padding-bottom: 3.5%;
  font-size: 0.8em;
}

.section3 .right img {
  /* Noticed an orientation problem */
  /* transform: rotate(180deg); */
}

.image-extension {
  margin-top: -7%;
}

.image-extension > :first-child {
  width: 600px;
  height: 452px;
  flex-basis: 70%;
  padding-left: 0;
}

.image-extension > :not(:first-child) {
  padding-top: 5%;
}

/* a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
} */

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Transitions: */
/*  */
a:not(.link-para-link):hover:after {
  /*  width: 100%; */
  border-bottom: 1px solid rgba(32, 32, 32, 1);
}

a:not(.link-para-link):after {
  content: "";
  /* width: 0px; */
  height: 0.4em;
  border-bottom: 1px solid rgba(32, 32, 32, 0.2);
  display: block;
  /* background: black; */
  transition: border 0.4s ease-in-out;
}

.link-para {
  font-style: italic;
  font-size: 0.7em;
  font-weight: lighter;
  flex-grow: 2;
  text-align: right;
}

.link-para-link {
  font-weight: bold;
}

.link-para-link:hover:after {
  border-bottom: 1px solid rgba(32, 32, 32, 1);
}

.link-para-link:after {
  content: "";
  /* width: 0px; */
  height: 0.4em;
  border-bottom: 1px solid rgba(32, 32, 32, 0);
  display: block;
  /* background: black; */
  transition: border 0.4s ease-in-out;
}

/* Animating my blob: */
.blob {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vmax;
  z-index: -1;
  animation: move 20s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10vw, 10vh);
  }
  38% {
    transform: scale(0.8, 1) translate(60vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(60vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.1) translate(0vw, 40vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.1) translate(0vw, 40vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10vw, 10vh);
  }
}
